<%- include("headernav.ejs") %>

<div class="main-content">
    <!-- Header -->
    <%- include("headtoppart.ejs") %>
        <!-- Card Section -->
            <!-- Main Section -->
            <main>
                <section class="content-box">
                    <a href="/dormitory/<%= reservations[0].Rental_ID %>" class="back-button">กลับ</a>
                    <h2>ตารางจองหอพัก</h2>
                <table>
                    <thead>
                        <tr>
                            <th>รหัสการจอง</th>
                            <th>รหัสห้อง</th>
                            <th>ชื่อห้อง</th>
                            <th>ชื่อผู้จอง</th>
                            <th>เบอร์โทรศัพท์</th>
                            <th>วันที่</th>
                            <th>เวลา</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% reservations.forEach(reservation => { %>
                            <tr>
                                <td><%= reservation.Reservation_ID %></td>
                                <td><%= reservation.Room_ID %></td>
                                <td><%= reservation.Room_Name %></td>
                                <td><%= reservation.Name %></td>
                                <td><%= reservation.Phone_Number %></td>
                                <td><%= reservation.Date %></td>
                                <td><%= reservation.Time %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                </section>
            </main>
</div>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        font-family: Arial, sans-serif;
    }

    th, td {
        padding: 12px 15px;
        text-align: left;
        color: #333;
        background-color: white;
    }

    th {
        background-color: #3f51b5;
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px;
    }

</style>
</body>
</html>