<%- include("head.ejs") %>

<body>
    <div class="container">
        <%- include("sidebar.ejs") %>
        <!-- Main Content -->
        <main class="content">
            <!-- Card Section -->
            <section class="card">
                <h2>การเพิ่มหอพัก</h2>
                <p>add dormitory facility</p>
                <div class="roomdata">
                    <h2>รายชื่อห้องเช่า</h2>
                    <% data.forEach((item)=>{ %>
                        <div class="room">
                            <div class="row">
                                <span class="label">ชื่อห้องพักที่ให้เช่า: <%=item.Room_Name %></span>
                                <span class="label">ประเภทของห้องเช่า : <%=item.Room_Type %></span>
                            </div>
                            <div class="row">
                                <span class="label">ขนาดของห้องเช่า : <%=item.Size %></span>
                                <span class="label">ค่าเช่าห้องพักเป็นเวลา 1 ปี : <%=item.Monthly_Rental * 12 %></span>
                            </div>
                            <div class="row">
                                <span class="label">สถานะของห้องพัก : <%=item.Room_Status  ? "true" : "false"%></span>
                                <span class="label">จำนวนห้องที่ว่างให้เช่า : <%=item.Number_Available_Room %></span>
                            </div>
                        </div>
                    <% }); %>      
                    <a href="/add_roomdata"><button>เพิ่มห้องเช่า</button></a>
                </div>
                <a href="/insert_RentalPrice"><button type="submit" value="Submit" id="submit">ยืนยัน</button></a>
        </main>
    </div>

    <style>
        .roomdata {
            text-align:left
        }
        button {
            margin-top: 10px;
            padding: 5px 5px;
            font-size: 16px;
            width: 20%;
            max-width: 20%;
        }

        a {
            text-decoration: none;
        }

        .room {
            width: 80%;
            border: 2px solid black;
            padding: 20px;
            border-radius: 8px;
            margin: 20px;
            background-color: #e9e9ed;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .label {
            font-weight: bold;
            color: #333;
        }
    </style>
</body>
</html>