<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Data</title>
    <style>
        body {
            font-size: 24;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
            border: 1px solid black;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: aquamarine;
            border-bottom: 3px solid blue;
        }
    </style>
</head>
<body>
    <h1>User data</h1>
    <!-- สร้างตารางสำหรับแสดงข้อมูล -->
     <table>
        <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>password</th>
                <th>email</th>
                <th>phone</th>
                <th>role</th>
            </tr>
        </thead>
        <tbody>
            
            <% data.forEach((item)=>{ %>
            <tr>
                <td><%=item.User_ID%></td>
                <td><%=item.User_Name%></td>
                <td>******</td>
                <td><%=item.Email%></td>
                <td><%=item.Phone_Number%></td>
                <td><%=item.Roles%></td>
            </tr>
            <% }); %>

        </tbody>
     </table>

     <a href="/register">go to register</a>

</body>
</html>